html{
  background: #717AA6;
  margin: auto;
  width: 50%;
  text-align: center;
  }

html {font-family: 'Indie Flower', cursive;
}

strong {color: blue}

title {margin: 10px}

ul {letter-spacing: normal}
